<div class="_2e0fx">
   <div class="LrkrN">
      <div class="_1g_1a">
         <div class="_2Epw9 ">
            <span class="_2JnGH icon-heartInverse">
               <div style="display:none" class="TQcBQ icon-heart zSo2a"></div>
            </span>
            <span class="_2FDKw">Favourite</span>
         </div>
         <label>
            <div class="_31C1x _2C8Ic _22URe">
               <span class="_17CQa">
         <label class="b5XpK _2cl4v _1Q69C"><input type="checkbox" class="_1WnJw"/><span class="_1X1xw _3ucsV"></span><svg width="16" class="_2m7ny" viewBox="0 0 24 24"><path d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M9.5,18.25 L20.75,7.43269231 L19,5.75 L9.5,14.8846154 L5,10.5576923 L3.25,12.2403846 L9.5,18.25 Z"></path></svg></label></span><span class="_1KYwd">Veg Only</span></div></label>
         <div class="_3d2Yn "><span class="_2QyU3 icon-magnifier"></span><span class="_1JjHr"><input type="text" class="_5mXmk" placeholder="Search for dishes..." value=""/></span><span class="_38kfh icon-close-thin"></span></div>
      </div>
   </div>
</div>
</div>

<div id="menu-content" class="_1hM1R znxoh" ng-controller="menu">
  <div class="_1okhE">
      <div class="_1srfG">
         <div class="_2mKMa">
            <div class="_1JVzD">
               <div class="nh_z0">
                  <div class="_2K_ax" style="padding-right:30px">
                     <a href="#h-1950595611" class="_1gHSS">
                        <div class="D_TFT _2BbB0">Recommended</div>
                     </a>
                     <a href="#h1936818929" class="_1gHSS">
                        <div class="D_TFT">Trending Now</div>
                     </a>
                     <a href="#h2007231039" class="_1gHSS">
                        <div class="D_TFT">Chicken</div>
                     </a>
                     <a href="#h1500331816" class="_1gHSS">
                        <div class="D_TFT">Burgers</div>
                     </a>
                     <a href="#h153716199" class="_1gHSS">
                        <div class="D_TFT">Rice Bowlz</div>
                     </a>
                     <a href="#h-1411544037" class="_1gHSS">
                        <div class="D_TFT">Snacks</div>
                     </a>
                     <a href="#h98949598" class="_1gHSS">
                        <div class="D_TFT">Beverages</div>
                     </a>
                     <div class="_2HWyL"></div>
                  </div>
               </div>
               <div class="_1LxRl">
                  <div class="_30cCo" style="transform:translateY(0px);-ms-transform:translateY(0px);-webkit-transform:translateY(0px);height:0px;visibility:visible;opacity:0"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="_1J_la">
         <div id="h-1950595611" class="_2dS-v">
            <h2 class="M_o7R _27PKo" >Recommended</h2>
            <div class="Yu6Bn">
               {{menuItems.length}}<!-- --> <!-- -->items
            </div>
            <div class="_1bGRc"  ng-repeat="item in menuItems" ng-if="$even" >
               <div class="_2J3sY" >
                  <div class="_2IEoD" itemscope="" itemType="http://schema.org/MenuItem">
                     <div class="Qfuib">
                        <img src={{item.img}} height="160" width="244" alt=""/>
                        <span class="_3fVLa"></span>
                        <div class="_2NaIR">
                           <div class="_2aOqz _1d7fc">{{item.message}}</div>
                        </div>
                        <div ng-if="item.caption" style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _1bfQ9"><span class="_23BlT" style="border-color:#b02331 #b02331 transparent transparent"></span>{{item.caption}}<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                     </div>
                     <span class="icon-foodSymbol tKOaB _3h2yZ"></span>
                     <div class="_2tcDp">
                        <div>
                           <div class="ft_i6">
                              <div class="_2SyqU" itemProp="name">{{item.itemName}}</div>
                              <div class="HwSGt">{{item.type}}</div>
                           </div>
                        </div>
                     </div>
                     <div class="JWyJG">
                        <div class="_12lpv _3WiZC"><span class="bQEAj">{{item.price}}</span></div>
                        <div class="_33Hf_ _3L1X9"><div class="_1RPOp">ADD</div><div class="_1ds9T _2WdfZ _4aKW6">+</div><div class="_29Y5Z _20vNm _4aKW6"></div><div class="_2zAXs _2quy- _4aKW6">0</div></div>
                     </div>
                  </div>
               </div>
               <div class="_2J3sY">
                  <div class="_2IEoD" itemscope="" itemType="http://schema.org/MenuItem">
                     <div class="Qfuib">
                        <img src="{{menuItems[$index + 1].img}}" height="160" width="244" alt=""/>
                        <span class="_3fVLa"></span>
                        <div class="_2NaIR">
                           <div class="_2aOqz _1d7fc">{{menuItems[$index + 1].message}}</div>
                        </div>
                        <div ng-if="menuItems[$index+1].caption" style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _1bfQ9"><span class="_23BlT" style="border-color:#b02331 #b02331 transparent transparent"></span>{{menuItems[$index+1].caption}}<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                     </div>
                     <span class="icon-foodSymbol tKOaB _3h2yZ"></span>
                     <div class="_2tcDp">
                        <div>
                           <div class="ft_i6">
                              <div class="_2SyqU" itemProp="name">{{menuItems[$index+1].itemName}}</div>
                              <div class="HwSGt">{{menuItems[$index+1].type}}</div>
                           </div>
                        </div>
                     </div>
                     <div class="JWyJG">
                        <div class="_12lpv _3WiZC"><span class="bQEAj">{{menuItems[$index+1].price}}</span></div>
                        <div class="_33Hf_ _3L1X9"><div class="_1RPOp">ADD</div><div class="_1ds9T _2WdfZ _4aKW6">+</div><div class="_29Y5Z _20vNm _4aKW6"></div><div class="_2zAXs _2quy- _4aKW6">0</div></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="h1936818929" class="_2dS-v">
            <h2 class="M_o7R _27PKo">Trending Now</h2>
            <div class="Yu6Bn">
               3<!-- --> <!-- -->items
            </div>
            <div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Triple Treat.</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">3&#x27;s company when you bring together 4 Hot &amp; Crispy with 6 Boneless Strips &amp; 4 of our signature Smoky Grilled.</div>
                              <div class="_12lpv MwITc"><span class="_22I-3 bQEAj grcH5">619</span><span class="bQEAj">618</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">5 in 1 Krunchy Box</div>
                              </div>
                              <div class="_2aOqz _1xb2E">A complete meal with 5 KFC favorites in one box- Krunchy Zinger, 1 pc veg strip, Pillsbury cookie cake, 2pc Hot wings and pepsi.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">228</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Big 8</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">Some like it hot. Some like it smoky. You get both! 4 Hot &amp; Crispy with 4 of KFC&#x27;s Signature Smoky Grilled!</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">428</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div></div>
         </div>
         <div id="h2007231039" class="_2dS-v">
            <h2 class="M_o7R _27PKo">Chicken</h2>
            <div class="Yu6Bn">
               19<!-- --> <!-- -->items
            </div>
            <div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Smoky Grilled 6+3 (Friday Offer)</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">Buy 6pc Smoky Grilled &amp; Get 3pc Free! Offer only for Fridays.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">501</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">8 Pc Hot &amp; Crispy*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">A big bucket for buddies who like to share. 8 pieces of Colonel&#x27;s signature Hot &amp; Crispy.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">600</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Mingles Bucket*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Spicy wings with juicy strips. Dive into our classics with this bucket of 3pc Boneless Strips + 6pc Hot Wings</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">238</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">6 Pc Hot &amp; Crispy*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">It&#x27;s always fun to binge on the classics! 6 pieces of Colonel&#x27;s signature Hot &amp; Crispy.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">500</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Dips Bucket - 12 Pcs*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">12 tender, juicy Boneless strips with a spread of 4 signature KFC dips. For the &quot;big dippers&quot;.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">457</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">4 Pc Smoky Grilled</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">Making a meal? Add a side of Colonel&#x27;s signature Smoky Grilled.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">343</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">6 Pc Smoky Grilled</div>
                              </div>
                              <div class="_2aOqz _1xb2E">When in a fix, just go for 6! The perfect shareable bucket with 6 of KFC&#x27;s signature Smoky Grilled.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">501</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">4 Pc Hot &amp; Crispy*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Ask for four more! 4 pieces of Colonel&#x27;s signature Hot &amp; Crispy chicken.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">343</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">8 Pc Smoky Grilled</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Share a smoky secret or two over this crowd-pleasing bucket with 8 of KFC&#x27;s signature Smoky Grilled.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">600</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">2 Pc Hot &amp; Crispy*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">The perfect crunch-time snack! 2 pieces of Colonel&#x27;s signature Hot &amp; Crispy.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">180</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Chick &amp; Share Bucket(5pc Hot&amp;Crispy) + 3 Pepsi</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Chicken love now in a meal! Choose from 5 Hot &amp; Crispy / 10 Boneless / 2 Lg Popcorn. With 3 Pepsi cans.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">447</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Chick &amp; Share Bucket(Boneless Strips) + 3 Pepsi</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Enjoy any one of the 3 new value chicken buckets with 3 Pepsi Cans</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">447</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Chick &amp; Share Bucket(Large popcorn) + 3 Pepsi</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Enjoy any one of the 3 new value chicken buckets with 3 Pepsi Cans</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">447</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Triple Treat.</div>
                              </div>
                              <div class="_2aOqz _1xb2E">3&#x27;s company when you bring together 4 Hot &amp; Crispy with 6 Boneless Strips &amp; 4 of our signature Smoky Grilled.</div>
                              <div class="_12lpv MwITc"><span class="_22I-3 bQEAj grcH5">619</span><span class="bQEAj">618</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Duo Bucket Meal.</div>
                              </div>
                              <div class="_2aOqz _1xb2E">A meal put together  for buddies! Enjoy 4pc of Hot &amp; crispy chicken with 4pc of Boneless strips and 2 pepsi cans to quench your thirst</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">447</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Friendship Bucket</div>
                              </div>
                              <div class="_2aOqz _1xb2E">A bucket-load of fun for friends. 3 Hot &amp; Crispy, 3 Hot Wings, 3 Boneless &amp; 1 Large Popcorn.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">586</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Smoky Duo Bucket Meal.</div>
                              </div>
                              <div class="_2aOqz _1xb2E">A meal put together  for buddies! Enjoy 4pc of smoky with 4pc of Boneless chicken strips and 2 pepsi cans to quench your thirst</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">462</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Friendship Bucket Meal</div>
                              </div>
                              <div class="_2aOqz _1xb2E">All of Colonel&#x27;s fav in 1 bucket meal! 3 Hot &amp; Crispy, 3 Hot Wings, 3 Boneless, 1 Lg Popcorn &amp; 2 Pepsi cans.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">629</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Big 8 Meal</div>
                              </div>
                              <div class="_2aOqz _1xb2E">An all-chicken meal for two! 4 Hot &amp; Crispy, 4 Hot Wings, 4 of KFC&#x27;s signature Smoky Grilled + 2 Pepsi cans.</div>
                              <div class="_12lpv MwITc"><span class="_22I-3 bQEAj grcH5">571</span><span class="bQEAj">570</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div></div>
         </div>
         <div id="h1500331816" class="_2dS-v">
            <h2 class="M_o7R _27PKo">Burgers</h2>
            <div class="Yu6Bn">
               8<!-- --> <!-- -->items
            </div>
            <div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV _3x58u"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Veg Longer.</div>
                              </div>
                              <div class="_2aOqz _1xb2E">When life falls short, go long! KFC&#x27;s brand-new edition for veggie lovers, easy on the belly and the pocket!</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">63</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">5 in 1 Zinger Box.</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">The perfect zinger of a meal! Chicken Zinger, 2 Hot Wings, 1 Veg Strip, Pillsbury cookie cake &amp; Pepsi can.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">219</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV _3x58u"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Veg Zinger.</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">Crispy all-veg patty packed inside a soft corn bun with fresh lettuce and eggless mayo. </div>
                              <div class="_12lpv MwITc"><span class="bQEAj">124</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Double Value Meal (Chicken Zinger)</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">Double Value Meal (Chicken Zinger)</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">371</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Chicken Zinger.</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Colonel&#x27;s signature Zinger chicken, an extra crispy fillet packed in soft corn bun with lettuce &amp; mayo!</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">143</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Krunchy Burger</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">Krunchy Burger</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">153</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Chicken Zinger</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Colonel&#x27;s signature Zinger chicken, an extra crispy fillet packed in a soft corn bun with lettuce &amp; mayo!</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">143</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">5 in 1 Krunchy Box</div>
                              </div>
                              <div class="_2aOqz _1xb2E">A complete meal with 5 KFC favorites in one box- Krunchy Zinger, 1 pc veg strip, Pillsbury cookie cake, 2pc Hot wings and pepsi.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">228</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div></div>
         </div>
         <div id="h153716199" class="_2dS-v">
            <h2 class="M_o7R _27PKo">Rice Bowlz</h2>
            <div class="Yu6Bn">
               4<!-- --> <!-- -->items
            </div>
            <div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">5 in 1 - Rice Box.</div>
                              </div>
                              <div class="_2aOqz _1xb2E">What&#x27;s better than chicken? Chicken &amp; Rice! Rice &amp; Gravy, 1 Hot &amp; Crispy, 2 Hot Wings, Pillsbury &amp; Pepsi.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">219</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV _3x58u"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Veg Rice Bowl*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">A complete meal in a bowl-KFC&#x27;s exotic rice &amp; flavorful gravy topped with yummy Veg. strips.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">124</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Smoky Rice Bowl</div>
                              </div>
                              <div class="_2aOqz _1xb2E">It&#x27;s sweet &amp; spice, with everything nice! Rice &amp; gravy with a side of our special Smoky grilled.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">158</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV _3x58u"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Veg Rice Bowl &amp; Pepsi</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Steamy rice and hot gravy, with a side of veggie strips + a bottle of Pepsi.Your complete veg meal!</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">158</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div></div>
         </div>
         <div id="h-1411544037" class="_2dS-v">
            <h2 class="M_o7R _27PKo">Snacks</h2>
            <div class="Yu6Bn">
               10<!-- --> <!-- -->items
            </div>
            <div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">1 Pc Hot &amp; Crispy*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Crispy on the outside, juicy on the inside, our signature Hot&amp; Crispy. A cracking addition to any meal!</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">95</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">4 Pc Hot &amp; Crispy*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Ask for four more! 4 pieces of Colonel&#x27;s signature Hot &amp; Crispy chicken.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">343</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">6 Pc Boneless Strips*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">6 pieces of juicy Boneless chicken strips, for some &quot;tender&quot; love and care.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">196</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Large Popcorn</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Bite-sized boneless pieces of Colonel&#x27;s signature Hot &amp; Crispy, with special spices. Pop the crunch!</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">172</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">4pc Hot Wings*</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">Spice up your day with Colonel&#x27;s signature Hot Wings. A classic addition to any meal.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">120</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">3 Pc Boneless Strips*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Three pieces of tender, juicy boneless strips. A no fuss bite!</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">120</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV _3x58u"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">4 Pc Veg Strips*</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">All-veggie crispy strips. Finger food for fuss-free days.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">115</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">2 Pc Hot &amp; Crispy*</div>
                              </div>
                              <div class="_2aOqz _1xb2E">The perfect crunch-time snack! 2 pieces of Colonel&#x27;s signature Hot &amp; Crispy.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">180</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">1 Pc Smoky Grilled</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Spicy, smoky chicken topped with KFC&#x27;s special glaze and grilled to utter perfection.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">95</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">2 Pc Smoky Grilled</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">The perfect &quot;smoky&quot; break. Two pieces of Colonel&#x27;s signature Smoky Grilled.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">180</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div></div>
         </div>
         <div id="h98949598" class="_2dS-v">
            <h2 class="M_o7R _27PKo">Beverages</h2>
            <div class="Yu6Bn">
               4<!-- --> <!-- -->items
            </div>
            <div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Pepsi.</div>
                                 <div style="background-color:#d53d4c;color:#ffffff" class="_2FMT0 _22D_E">MUST TRY<span style="border-color:#d53d4c transparent #d53d4c transparent" class="rZ-gh"></span></div>
                              </div>
                              <div class="_2aOqz _1xb2E">Pepsi.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">58</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Pepsi Can</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Pepsi Can</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">29</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">7-UP.</div>
                              </div>
                              <div class="_2aOqz _1xb2E">7-UP.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">58</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_2wg_t" itemscope="" itemType="http://schema.org/MenuItem">
                  <div>
                     <span class="icon-foodSymbol tKOaB _27EeV"></span>
                     <div class="GaqmA">
                        <div>
                           <div class="_19GqV">
                              <div class="_2Gojq">
                                 <div class="jTy8b" itemProp="name">Mirinda.</div>
                              </div>
                              <div class="_2aOqz _1xb2E">Mirinda.</div>
                              <div class="_12lpv MwITc"><span class="bQEAj">58</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div></div>
         </div>
      </div>
   </div>
  <div class="_5ZwHn">
    <div class="_1WKwn">
      <div class="_2uq6N">
         Cart
         <div class="_1XFmX">4 Items</div>
      </div>
      <div class="_1t-Al _1XUXj">
         <div class="_3YMqW"></div>
         <div class="_2ObNr _2Y5ZT _2qOpI">
            <div>
               <div class="_2zsON"></div>
               <div class="">
                  <div class="_2bXOy">
                     <div class="_2MJB6"><span class="icon-foodSymbol "></span></div>
                     <div class="_33KRy">Spaghetti Aglio Olio</div>
                     <div class="_2bWmk">
                        <div class="_1yTZI">
                           <div class="_29ugw _3L1X9">
                              <div class="_1RPOp _36fT9 _4aKW6">ADD</div>
                              <div class="_1ds9T">+</div>
                              <div class="_29Y5Z"></div>
                              <div class="_2zAXs">1</div>
                           </div>
                           <div class="_1mx0r"><span class="_2W2U4">239</span></div>
                        </div>
                     </div>
                  </div>
                  <div class="_2bXOy">
                     <div class="_2MJB6"><span class="icon-foodSymbol "></span></div>
                     <div class="_33KRy">Pind Di Daal Makhani with Jeera Rice</div>
                     <div class="_2bWmk">
                        <div class="_1yTZI">
                           <div class="_29ugw _3L1X9">
                              <div class="_1RPOp _36fT9 _4aKW6">ADD</div>
                              <div class="_1ds9T">+</div>
                              <div class="_29Y5Z"></div>
                              <div class="_2zAXs">1</div>
                           </div>
                           <div class="_1mx0r"><span class="_2W2U4">209</span></div>
                        </div>
                     </div>
                  </div>
                  <div class="_2bXOy">
                     <div class="_2MJB6"><span class="icon-foodSymbol _1F50F"></span></div>
                     <div class="_33KRy">Cajun Spiced Rice with Chicken Nuggets</div>
                     <div class="_2bWmk">
                        <div class="_1yTZI">
                           <div class="_29ugw _3L1X9">
                              <div class="_1RPOp _36fT9 _4aKW6">ADD</div>
                              <div class="_1ds9T">+</div>
                              <div class="_29Y5Z"></div>
                              <div class="_2zAXs">1</div>
                           </div>
                           <div class="_1mx0r"><span class="_2W2U4">249</span></div>
                        </div>
                     </div>
                  </div>
                  <div class="_2bXOy">
                     <div class="_2MJB6"><span class="icon-foodSymbol _1F50F"></span></div>
                     <div class="_33KRy">Teriyaki Chicken with Hakka Noddles</div>
                     <div class="_2bWmk">
                        <div class="_1yTZI">
                           <div class="_29ugw _3L1X9">
                              <div class="_1RPOp _36fT9 _4aKW6">ADD</div>
                              <div class="_1ds9T">+</div>
                              <div class="_29Y5Z"></div>
                              <div class="_2zAXs">1</div>
                           </div>
                           <div class="_1mx0r"><span class="_2W2U4">229</span></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_3DPdG"></div>
            </div>
         </div>
         <div class="_1v28S _2Cjz6"></div>
      </div>
      <div class="EEeV3">
         <div class="_161V3">
            <div class="_1DWmI">Subtotal</div>
            <div><span class="QK9kr">₹ 926</span><span>₹ 787</span></div>
         </div>
         <div class="_26NCu">Extra charges may apply</div>
         <div class="_1gPB7">Checkout →</div>
      </div>
   </div>
  </div>
</div>
